* {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100%;
  height: 100%;
}
.contenier {
  width: 75%;
  margin: auto;
  border: 1px solid;
}
.header {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
}
.avatar {
  width: 60px;
  height: 60px;
}
.basket {
  width: 30px;
  height: 30px;
}
.favorites {
  width: 30px;
  height: 30px;
  padding-left: 10px;
}
.favorites_product {
  width: 15px;
  height: 15px;
}
.nav {
  border: 1px solid orange;
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
}
.item_nav {
  text-decoration: none;
  color: black;
}
.coantenier_products {
  border-top: 1px solid gray;
  padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px 55px;
}
.name_category {
  text-align: center;
}
.filter_product {
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 10px;
  justify-content: space-between;
}
.contenier_accessories {
  display: flex;
  border: 1px solid;
  justify-content: center;
}
.products_accessories {
  display: flex;
  flex-direction: column;
  border: 1px solid;
}
.products {
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: 0.2s ease; /* Добавляем плавный переход */
}
.products img {
  width: 100%;
  height: 100%;
  transition: 0.2s ease; /* Добавляем плавный переход */
}
.products:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease; /* Добавляем плавный переход */
}
.products:hover .image_product {
  transform: scale(1.1);
  transition: 0.2s ease; /* Добавляем плавный переход */
  cursor: pointer;
}
.image_product {
  /* border: 1px solid purple; */
}
.name_product:hover {
  color: rgb(0, 88, 160);
  cursor: pointer;
}
