* {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100%;
  height: 100%;
}
.contenier {
  width: 80%;
  margin: auto;

  border: 1px solid;
}
.header {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
}
.avatar {
  width: 60px;
  height: 60px;
}
.basket {
  width: 30px;
  height: 30px;
}
.favorites {
  width: 30px;
  height: 30px;
}
.nav {
  border: 1px solid orange;
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
}
.item_nav {
  text-decoration: none;
  color: black;
}
.coantenier_products {
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px 25px;
}
.products img {
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease; /* Добавляем плавный переход */
}

.products img.secondImage {
  opacity: 0; /* Скрытие второго изображения по умолчанию */
}
.name_product {
  text-align: center;
}
.filter_product {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px solid;
  z-index: 1; /* Начальное значение z-index */
}

.products:hover {
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}
